<div
  class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flex justify-between">
    <h5
      class="task-name mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {{ data.taskName }}
    </h5>
    <div class="relative">
      <button
        (click)="handleDropDown()"
        id="dropdownHoverButton"
        data-dropdown-toggle="dropdownHover"
        data-dropdown-trigger="hover"
      >
        <i-feather class="text-white" name="more-horizontal"></i-feather>
      </button>
      @if(dropDown){
      <div
        (mouseleave)="handleDropDown()"
        id="dropdownHover"
        class="z-10 absolute right-0 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
      >
        <ul
          class="py-2 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownHoverButton"
        >
        <li>
          <a
            role="button"
            data-modal-target="edit-modal" data-modal-toggle="edit-modal"
            (click)="handleEditModel()"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Edit</a
          >
        </li>
          <li>
            <a
              role="button"
              (click)="handleDelete(data.itemId??0)"
              class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
              >Delete</a
            >
          </li>
        </ul>
      </div>
      }
    </div>
  </div>
  <p class="task-description mb-3 font-normal text-gray-700 dark:text-gray-400">
    {{ data.taskDescription }}
  </p>
  <a
    href="#"
    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Read more
    <svg
      class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 10"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 5h12m0 0L9 1m4 4L9 9"
      />
    </svg>
  </a>
</div>

@if (isOpen()) {
  <app-editmodel />
}
