
<div *ngIf="isOpen()" id="edit-modal" tabindex="-1"  class=" before:contents[' '] before:absolute before:top-0 before:bottom-0 before:right-0 before:left-0 before:bg-black before:opacity-20 before:bg-opacity-90 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-full max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full mx-auto">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow ">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
              <h3 class="text-xl font-semibold text-gray-900">
                  Edit Todo
              </h3>
              <button (click)="handleModelvisibility()" type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="edit-modal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>
          
          <!-- Modal body -->
          <div class="p-4 md:p-5">
             <app-todoform [todoItem]="data()" [closeModel]="handleModelvisibility" [editForm]="true" />
          </div>
      </div>
  </div>
</div> 